<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= todo.name %> | To-dos</title>
  <link rel="stylesheet" href="./../style.css" />
</head>

<a class="title" href="/"><h1>To-dos</h1></a>

<h2><%= todo.name %></h2>

<p><%= todo.description %></p>

</body>
</html>